<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soft.classwork.mapper.AssayMapper">
    <insert id="addAssay" parameterType="com.soft.classwork.model.Assay">
        INSERT INTO assay (assayname,assaydesc,department)
        VALUES (#{assayname},#{assaydesc},#{department})
    </insert>
    <update id="updateAssayById" parameterType="com.soft.classwork.model.Assay">
        UPDATE assay
        <set>
            <if test="assay.assayname != null">
                assayname = #{assay.assayname},
            </if>
            <if test="assay.assaydesc != null">
                assaydesc = #{assay.assaydesc},
            </if>
            <if test="assay.department != null">
                department = #{assay.department}
            </if>
        </set>
        WHERE assayid = #{assay.assayid}
    </update>
    <select id="getAssayById" resultType="com.soft.classwork.model.Assay">
        SELECT * FROM assay WHERE assayid = #{id}
    </select>
    <delete id="deleteAssayById">
        DELETE FROM assay WHERE assayid = #{id}
    </delete>
    <select id="getAssayList" resultType="com.soft.classwork.model.Assay">
        SELECT * FROM assay ORDER BY assayid
    </select>
    <select id="getAssayByName" resultType="com.soft.classwork.model.Assay">
        SELECT * FROM assay WHERE assayname LIKE #{name}
    </select>
</mapper>